html, body {
    background-image: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --rz-text-font-family: 'Inter', sans-serif;
}

.bordered {
    border: 1px solid var(--mud-palette-divider);
}