@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween" Gap="8px" Style="margin-right: 8px;">
            <div style="height: 50px; padding: 8px;">
                <Wordmark />
            </div>
            <RadzenAppearanceToggle />
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>